<section class="section bg-img">
  <div class="about-us-container container">
    <div class="about-us-text-block">
      <h2 class="about-us-ittle">About Us</h2>
      <div class="about-us-info-block">
        <p class="about-us-info">
          The store "Vyshyvanka Vibes" is a place where traditional Ukrainian
          vyshyvanka comes to life with new zest and style. Our store offers a
          wide selection of high-quality and authentic embroidery, which
          combines the elegance of traditional needlework and modern design.
        </p>
        <p class="about-us-info">
          In "Vyshyvanka Vibes" you will find various models of embroidery, from
          classic to modern, corresponding to the latest fashion trends. Our
          embroidery is made using natural fabrics and is embroidered by highly
          qualified craftsmen who convey the beauty of Ukrainian culture in
          every detail.We believe that vyshyvanka is not just clothing, but a
          symbol of national pride, the heritage of our ancestors and a way of
          expressing one's individuality. Each embroidery from "Vyshyvanka
          Vibes" has its own unique history and symbolism, which gives it a
          special meaning.
        </p>
      </div>
    </div>
    <div class="about-us-img-block">
      <img
        srcset="
          ../images/about_us/vyshyvanka_mob.jpg        335w,
          ../images/about_us/vyshyvanka_tab.jpg        704w,
          ../images/about_us/vyshyvanka_dt1280.jpg     594w,
          ../images/about_us/vyshyvanka_dt1440.jpg     709w,
          ../images/about_us/vyshyvanka_mob@2x.jpg     670w,
          ../images/about_us/vyshyvanka_tab@2x.jpg    1408w,
          ../images/about_us/vyshyvanka_dt1280@2x.jpg 1188w,
          ../images/about_us/vyshyvanka_dt1440@2x.jpg 1418w
        "
        sizes="(min-width: 1440px) 709px, (min-width: 1280px) 594px, (min-width: 768px) 704px, (max-width: 767px) 335px,"
        src="../images/about_us/vyshyvanka_mob.jpg"
        alt="Vyshyvanka"
      />
    </div>
  </div>
</section>
