<footer class="page-footer">
    <div class=" footer-block">
        <div class="footer-container">
            <ul class="footer-menu">
                <li class="footer-menu-item"><a href="#about_us">About us</a></li>
                <li class="footer-menu-item"><a href="#our_collection">Our collection</a></li>
                <li class="footer-menu-item"><a href="#customer_order">Customer order</a></li>
                <li class="footer-menu-item"><a href="#testimonials">Testimonials</a></li>
            </ul>
            <h2 class="footer-title">A touch of <span class="Ukrainian">Ukrainian</span> culture in every embroidery
            </h2>
        </div>
        <div class="footer-background-container"></div>
    </div>
</footer>