<footer class="page-footer">
    <div class=" footer-block">
        <div class="container">
            <ul class="footer-menu">
                <li class="footer-menu-item"><a href="#about_us">About us</a></li>
                <li class="footer-menu-item"><a href="#our_collection">Our collection</a></li>
                <li class="footer-menu-item"><a href="#customer_order">Customer order</a></li>
                <li class="footer-menu-item"><a href="#testimonials">Testimonials</a></li>
            </ul>
            <h2 class="footer-title">A touch of <span class="Ukrainian">Ukrainian</span> culture in every embroidery
            </h2>
        </div>




        <!-- <div class="subscribe-box">
            <p class="subscribe-box-description">Subscribe</p>
            <form class="subscribe-form">
                <label class="subscribe-box-lable">
                    <input class="subscribe-box-input" type="email" name="user-subscribe" placeholder="E-mail">
                </label>
                <button class="subscribe-btn" type="submit">Subscribe
                    <svg class="subscribe-btn-icon" width="24" height="24">
                        <use href="./images/icons.svg#send">
                        </use>
                    </svg>
                </button>

            </form>
        </div> -->
    </div>
    <div class="footer-background-container"></div>
</footer>