<section class="hero section">
    <div class="hero-wrapper container">
        <div class="hero-main-content">
            <h1 class="hero-title">Reviving the traditional
                <span class="accent-color">Ukrainian</span>
                artistry in every stitch.
            </h1>
            <a class="hero-link" href="#your-order">
                <span class="hero-link-text">order</span>
                <svg width="24" height="17">
                    <use href="./images/icons.svg#icon-arrow"></use>
                </svg>
            </a>
        </div>
        <img srcset="
                ./images/hero/girl_mob.jpg    335w,
                ./images/hero/girl_tab.jpg    413w,
                ./images/hero/girl_dt.jpg     392w,
                ./images/hero/girl_mob@2x.jpg 670w,
                ./images/hero/girl_tab@2x.jpg 826w,
                ./images/hero/girl_dt@2x.jpg  784w" 
            sizes="(min-width: 1280px) 392px, 
                    (min-width: 768px)   413px, 
                    (max-width: 767px)   335px" 
            src="./images/hero/girl_mob.jpg" 
            alt="girl in sweater with embroidery">
        <div class="hand-made-lable">
            <img 
                srcset="
                    ./images/hero/star.png 52w,
                    ./images/hero/star@2x.png 104w"
                sizes="(min-width: 768px) 52px"
                src="./images/hero/star.png" 
                alt="all embroidery is made by hand">
            <p class="hand-made-text">all embroidery is made by hand</p>
        </div>
        <img class="hero-additional-image" 
            srcset="
              ./images/hero/ukraine-map.png     139w,
              ./images/hero/ukraine-map@2x.png  278w" 
            sizes="(min-width: 768px) 139px"
            src="./images/hero/ukraine-map.png" 
            alt="ukrainian embroidery">
    </div>
</section>