<section id="our-collection" class="our-collection section">
  <div class="container">
    <h2 class="our-collection-section-title">Our collection</h2>
    <ul class="our-collection-list list">
      <li class="our-collection-list-item">
        <div class="overlay-box">
          <picture>
            <!-- Desktop screen 1440 -->
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/our_collection_o/poltava_dt1440.jpg    1x,
                ./images/our_collection_o/poltava_dt1440@2x.jpg 2x
              "
              type="image/jpg"
              width="400"
              height="430"
            />
            <!-- Desktop screen -->
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/our_collection_o/poltava_dt1280.jpg    1x,
                ./images/our_collection_o/poltava_dt1280@2x.jpg 2x
              "
              type="image/jpg"
              width="347"
              height="430"
            />
            <!-- Tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/our_collection_o/poltava_tab.jpg    1x,
                ./images/our_collection_o/poltava_tab@2x.jpg 2x
              "
              type="image/jpg"
              width="342"
              height="430"
            />
            <!-- Mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/our_collection_o/poltava_mob.jpg    1x,
                ./images/our_collection_o/poltava_mob@2x.jpg 2x
              "
              type="image/jpg"
              width="335"
              height="400"
            />
            <img
              class="our-collection-img"
              src="./images/our_collection_o/poltava_mob.jpg"
              alt="National women's clothing"
              width="335"
              height="400"
              loading="lazy"
            />
          </picture>
          <div class="overlay-card">
            <div class="overlay-info">
              <h3 class="overlay-title">August Poltava women's blousering</h3>
              <p class="overlay-text">
                You can buy this embroidery by clicking the "Order" button at
                the top of the page. Glory to Ukraine, and death to these damned
                enemies!
              </p>
              <a class="overlay-order-link" href="">Go to Order</a>
            </div>
          </div>
        </div>
        <div class="our-collection-card-wrapper">
          <h3 class="our-collection-card-title">
            August Poltava women's blousering
          </h3>
          <p class="our-collection-card-price">3300 uah</p>
        </div>
      </li>
      <li class="our-collection-list-item">
        <div class="overlay-box">
          <picture>
            <!-- Desktop screen 1440 -->
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/our_collection_o/gorgany_dt1440.jpg    1x,
                ./images/our_collection_o/gorgany_dt1440@2x.jpg 2x
              "
              type="image/jpg"
              width="400"
              height="430"
            />
            <!-- Desktop screen -->
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/our_collection_o/gorgany_dt1280.jpg    1x,
                ./images/our_collection_o/gorgany_dt1280@2x.jpg 2x
              "
              type="image/jpg"
              width="347"
              height="430"
            />
            <!-- Tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/our_collection_o/gorgany_tab.jpg    1x,
                ./images/our_collection_o/gorgany_tab@2x.jpg 2x
              "
              type="image/jpg"
              width="342"
              height="430"
            />
            <!-- Mobile screen -->
            <source
              media="(min-width: 320px) and (max-width: 767px)"
              srcset="
                ./images/our_collection_o/gorgany_mob.jpg    1x,
                ./images/our_collection_o/gorgany_mob@2x.jpg 2x
              "
              type="image/jpg"
              width="335"
              height="400"
            />
            <img
              class="our-collection-img"
              src="./images/our_collection_o/gorgany_mob.jpg"
              alt="National women's clothing"
              width="335"
              height="400"
              loading="lazy"
            />
          </picture>
          <div class="overlay-card">
            <div class="overlay-info">
              <h3 class="overlay-title">Women's blouse Gorgany</h3>
              <p class="overlay-text">
                You can buy this embroidery by clicking the "Order" button at
                the top of the page. Glory to Ukraine, and death to these damned
                enemies!
              </p>
              <a class="overlay-order-link" href="">Go to Order</a>
            </div>
          </div>
        </div>
        <div class="our-collection-card-wrapper">
          <h3 class="our-collection-card-title">Women's blouse Gorgany</h3>
          <p class="our-collection-card-price">3350 uah</p>
        </div>
      </li>
      <li class="our-collection-list-item">
        <div class="overlay-box">
          <picture>
            <!-- Desktop screen 1440 -->
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/our_collection_o/crimea_dt1440.jpg    1x,
                ./images/our_collection_o/crimea_dt1440@2x.jpg 2x
              "
              type="image/jpg"
              width="400"
              height="430"
            />
            <!-- Desktop screen -->
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/our_collection_o/crimea_dt1280.jpg    1x,
                ./images/our_collection_o/crimea_dt1280@2x.jpg 2x
              "
              type="image/jpg"
              width="347"
              height="430"
            />
            <!-- Tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/our_collection_o/crimea_tab.jpg    1x,
                ./images/our_collection_o/crimea_tab@2x.jpg 2x
              "
              type="image/jpg"
              width="342"
              height="430"
            />
            <!-- Mobile screen -->
            <source
              media="(min-width: 320px) and (max-width: 767px)"
              srcset="
                ./images/our_collection_o/crimea_mob.jpg    1x,
                ./images/our_collection_o/crimea_mob@2x.jpg 2x
              "
              type="image/jpg"
              width="335"
              height="400"
            />
            <img
              class="our-collection-img"
              src="./images/our_collection_o/crimea_mob.jpg"
              alt="National women's clothing"
              width="335"
              height="400"
              loading="lazy"
            />
          </picture>
          <div class="overlay-card">
            <div class="overlay-info">
              <h3 class="overlay-title">Women's blouse Crimea</h3>
              <p class="overlay-text">
                You can buy this embroidery by clicking the "Order" button at
                the top of the page. Glory to Ukraine, and death to these damned
                enemies!
              </p>
              <a class="overlay-order-link" href="">Go to Order</a>
            </div>
          </div>
        </div>
        <div class="our-collection-card-wrapper">
          <h3 class="our-collection-card-title">Women's blouse Crimea</h3>
          <p class="our-collection-card-price">4000 uah</p>
        </div>
      </li>
      <li class="our-collection-list-item">
        <div class="overlay-box">
          <picture>
            <!-- Desktop screen 1440 -->
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/our_collection_o/verkhovina_dt1440.jpg    1x,
                ./images/our_collection_o/verkhovina_dt1440@2x.jpg 2x
              "
              type="image/jpg"
              width="400"
              height="430"
            />
            <!-- Desktop screen -->
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/our_collection_o/verkhovina_dt1280.jpg    1x,
                ./images/our_collection_o/verkhovina_dt1280@2x.jpg 2x
              "
              type="image/jpg"
              width="347"
              height="430"
            />
            <!-- Tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/our_collection_o/verkhovina_tab.jpg    1x,
                ./images/our_collection_o/verkhovina_tab@2x.jpg 2x
              "
              type="image/jpg"
              width="342"
              height="430"
            />
            <!-- Mobile screen -->
            <source
              media="(min-width: 320px) and (max-width: 767px)"
              srcset="
                ./images/our_collection_o/verkhovina_mob.jpg    1x,
                ./images/our_collection_o/verkhovina_mob@2x.jpg 2x
              "
              type="image/jpg"
              width="335"
              height="400"
            />
            <img
              class="our-collection-img"
              src="./images/our_collection_o/verkhovina_mob.jpg"
              alt="National men's clothing"
              width="335"
              height="400"
              loading="lazy"
            />
          </picture>
          <div class="overlay-card">
            <div class="overlay-info">
              <h3 class="overlay-title">Men's shirt Verkhovina</h3>
              <p class="overlay-text">
                You can buy this embroidery by clicking the "Order" button at
                the top of the page. Glory to Ukraine, and death to these damned
                enemies!
              </p>
              <a class="overlay-order-link" href="">Go to Order</a>
            </div>
          </div>
        </div>
        <div class="our-collection-card-wrapper">
          <h3 class="our-collection-card-title">Men's shirt Verkhovina</h3>
          <p class="our-collection-card-price">3100 uah</p>
        </div>
      </li>
      <li class="our-collection-list-item">
        <div class="overlay-box">
          <picture>
            <!-- Desktop screen 1440 -->
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/our_collection_o/mountain_dt1440.jpg    1x,
                ./images/our_collection_o/mountain_dt1440@2x.jpg 2x
              "
              type="image/jpg"
              width="400"
              height="430"
            />
            <!-- Desktop screen -->
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/our_collection_o/mountain_dt1280.jpg    1x,
                ./images/our_collection_o/mountain_dt1280@2x.jpg 2x
              "
              type="image/jpg"
              width="347"
              height="430"
            />
            <!-- Tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/our_collection_o/mountain_tab.jpg    1x,
                ./images/our_collection_o/mountain_tab@2x.jpg 2x
              "
              type="image/jpg"
              width="342"
              height="430"
            />
            <!-- Mobile screen -->
            <source
              media="(min-width: 320px) and (max-width: 767px)"
              srcset="
                ./images/our_collection_o/mountain_mob.jpg    1x,
                ./images/our_collection_o/mountain_mob@2x.jpg 2x
              "
              type="image/jpg"
              width="335"
              height="400"
            />
            <img
              class="our-collection-img"
              src="./images/our_collection_o/mountain_mob.jpg"
              alt="National men's clothing"
              width="335"
              height="400"
              loading="lazy"
            />
          </picture>
          <div class="overlay-card">
            <div class="overlay-info">
              <h3 class="overlay-title">Mountain men's shirt</h3>
              <p class="overlay-text">
                You can buy this embroidery by clicking the "Order" button at
                the top of the page. Glory to Ukraine, and death to these damned
                enemies!
              </p>
              <a class="overlay-order-link" href="">Go to Order</a>
            </div>
          </div>
        </div>
        <div class="our-collection-card-wrapper">
          <h3 class="our-collection-card-title">Mountain men's shirt</h3>
          <p class="our-collection-card-price">3300 uah</p>
        </div>
      </li>
      <li class="our-collection-list-item">
        <div class="overlay-box">
          <picture>
            <!-- Desktop screen 1440 -->
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/our_collection_o/yasen_dt1440.jpg    1x,
                ./images/our_collection_o/yasen_dt1440@2x.jpg 2x
              "
              type="image/jpg"
              width="400"
              height="430"
            />
            <!-- Desktop screen -->
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/our_collection_o/yasen_dt1280.jpg    1x,
                ./images/our_collection_o/yasen_dt1280@2x.jpg 2x
              "
              type="image/jpg"
              width="347"
              height="430"
            />
            <!-- Tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/our_collection_o/yasen_tab.jpg    1x,
                ./images/our_collection_o/yasen_tab@2x.jpg 2x
              "
              type="image/jpg"
              width="342"
              height="430"
            />
            <!-- Mobile screen -->
            <source
              media="(min-width: 320px) and (max-width: 767px)"
              srcset="
                ./images/our_collection_o/yasen_mob.jpg    1x,
                ./images/our_collection_o/yasen_mob@2x.jpg 2x
              "
              type="image/jpg"
              width="335"
              height="400"
            />
            <img
              class="our-collection-img"
              src="./images/our_collection_o/yasen_mob.jpg"
              alt="National men's clothing"
              width="335"
              height="400"
              loading="lazy"
            />
          </picture>
          <div class="overlay-card">
            <div class="overlay-info">
              <h3 class="overlay-title">Men's shirt Yasen</h3>
              <p class="overlay-text">
                You can buy this embroidery by clicking the "Order" button at
                the top of the page. Glory to Ukraine, and death to these damned
                enemies!
              </p>
              <a class="overlay-order-link" href="">Go to Order</a>
            </div>
          </div>
        </div>
        <div class="our-collection-card-wrapper">
          <h3 class="our-collection-card-title">Men's shirt Yasen</h3>
          <p class="our-collection-card-price">1700 uah</p>
        </div>
      </li>
    </ul>
  </div>
</section>
