<section id="testimonials" class="section">
  <div class="container">
    <h2 class="title-testimonials">
      Testimonials
    </h2>


    <ul class="testimonials-list">
      <li class="testimonials-list-item">
        <div class="info-container">
          <img class="testimonials-photo" height="64" width="64" srcset="
          ../images/testimonials_o/maria_2x.png 2px" src="../images/testimonials_o/maria.png" alt="Maria Tkachuk">
          <h3 class="testimonials-name">Maria Tkachuk</h3>
          <p class="testimonials-text one">I was pleasantly surprised by the variety of embroidery offered by Vyshyvanka
            Vibes. They have models for every taste -
            from classic to modern. I bought an embroidered dress to celebrate a special occasion and received
            impeccable service
            and refinement in every detail.</p>
        </div>
      </li>

      <li class="testimonials-list-item card-two display-none">
        <div class="info-container">
          <img class="testimonials-photo" height="64" width="64" 
          srcset="../images/testimonials_o/sergey_2x.png 2px" 
          src="../images/testimonials_o/sergey.png" alt="Sergey Rybachok">
          <h3 class="testimonials-name">Sergey Rybachok</h3>
          <p class="testimonials-text two">Vyshyvanka Vibes exceeds all my expectations! Their vyshyvanka are simply
            masterpieces! I fell in love with the quality
            of the materials and the skill of the artisans behind each product. This is my favorite embroidery shop
            where I always
            find something special and unique.</p>
        </div>
      </li>

      <li class="testimonials-list-item card-three display-none">
        <div class="info-container">
          <img class="testimonials-photo" height="64" width="64" 
          srcset="../images/testimonials_o/natalia_2x.png 2px" 
          src="../images/testimonials_o/natalia.png" alt="Natalia Chatuk">
          <h3 class="testimonials-name">Natalia Chatuk</h3>
          <p class="testimonials-text three">Vyshyvanka Vibes is a real find for everyone who appreciates Ukrainian
            culture.
            Their embroidery reflects the spirit and
            traditions of our people. I not only buy embroidered shirts for myself, but also give them to my friends
            abroad as a
            symbol of our beauty and national pride.</p>
        </div>
      </li>
    </ul>
  </div>
</section>

