body {
  font-family: 'Manrope', sans-serif;
  background-color: #1c2225;
  color: #fcf9f9;
}

.section {
  padding-bottom: 80px;
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .container {
    padding: 0 20px;
  }
}

@media screen and (min-width: 375px) {
  .container {
    padding: 0;
    margin: 0 auto;
    max-width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 704px;
  }

  .section {
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1080px;
  }

  .section {
    padding-bottom: 150px;
  }
}


