.overlay-card {
  display: none;
}

.our-collection-section-title {
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.37;
  letter-spacing: 0.03em;
  margin-bottom: 40px;
}

.our-collection-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.overlay-box {
  margin-bottom: 18px;
}

.our-collection-img {
  border-radius: 4px;
}

.our-collection-card-title {
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.our-collection-card-price {
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: rgba(252, 249, 249, 0.4);
}

.our-collection-card-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.our-collection {
  background-image: url(../images/our_collection_o/ornament_mob.png);
  background-position-y: 298px;
  background-repeat: no-repeat;
  background-size: 72px 177px;
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .our-collection {
    background-image: url(../images/our_collection_o/ornament_mob@2x.png);
  }
}

/*---------- TABLET STYLES ----------*/

@media screen and (min-width: 768px) {
  .our-collection-section-title {
    font-size: 44px;
    line-height: 1.45;
  }

  .our-collection-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
  }

  .our-collection-list-item {
    width: calc((100% - 20px) / 2);
  }

  .our-collection-card-title {
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .our-collection-card-price {
    font-size: 18px;
  }

  .our-collection {
    background-image: url(../images/our_collection_o/ornament_tab.png);
    background-position-y: 221px;
    background-size: 114px 300px;
  }

  @media screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
    .our-collection {
      background-image: url(../images/our_collection_o/ornament_tab@2x.png);
    }
  }
}

/*---------- DESKTOP STYLES ----------*/

@media screen and (min-width: 1280px) {
  .our-collection-list-item {
    width: calc((100% - 40px) / 3);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .our-collection-list {
    row-gap: 40px;
  }

  .our-collection {
    background-size: 169px 300px;
  }

  .overlay-box {
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    /* transition: 500ms cubic-bezier(0.4, 0, 0.2, 1); */
  }

  .overlay-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .our-collection-list-item:hover,
  .our-collection-list-item:focus {
    transform: scale(1.05);
  }

  .our-collection-list-item:hover .overlay-card,
  .our-collection-list-item:focus .overlay-card {
    opacity: 1;
  }

  .overlay-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    transform: translateY(20%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .our-collection-list-item:hover .overlay-info,
  .our-collection-list-item:focus .overlay-info {
    opacity: 1;
    transform: translateY(0%);
  }

  .overlay-title {
    text-align: center;
  }

  .overlay-text {
    text-align: center;
  }

  .overlay-order-link {
    display: inline-block;
    border-radius: 4px;
    background-color: rgba(236, 217, 121, 0.6);
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .overlay-order-link:hover,
  .overlay-order-link:focus {
    background-color: rgba(236, 217, 121, 0.8);
  }
}
