@import url('./reset.css');
@import url('./base.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about_us.css');
@import url('./our_collection.css');
@import url('./your_order.css');
@import url('./testimonials.css');
@import url('./footer.css');

